apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: mysql
  name: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: mysql
    spec:
      containers:
      - image: mysql:8
        name: mysql
        args:
         - --default-authentication-plugin=mysql_native_password
        # caching_sha2_password is used for the default auth from mysql:8
        # which requires more dependencies in client side.
        # https://hub.docker.com/_/mysql
        env:
          - name: MYSQL_ROOT_PASSWORD
            value: password
          - name: MYSQL_DATABASE
            value: test_db
          - name: MYSQL_USER
            value: sample_app
          - name: MYSQL_PASSWORD
            value: password
        resources: {}
status: {}
